@model eShop.DataContracts.Dtos.FiltersDto
@{
    ViewData["Title"] = "Home Page";
}
@Html.HiddenFor(x => x.AvgCamera)
@Html.HiddenFor(x => x.AvgStorage)
<select id="order-by" class="form-control">
    <option value="0">Order by</option>
    <option value="1">Alphabetical</option>
    <option value="2">Price low to high</option>
    <option value="3">Price high to low</option>
</select>
<div class="main-content">
    <div class="all-products page visible">
        <div class="filters">
            <form id="filters-form">
                <div class="filter-criteria">
                    <span>Manufacturer</span>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <label><input type="checkbox" name="manufacturersIds" value="@manufacturer.Id">@manufacturer.Name</label>
                    }
                </div>

                <div class="filter-criteria">
                    <span>Storage</span>
                    @foreach (var manufacturer in Model.Storages)
                    {
                        <label><input type="checkbox" value="@manufacturer" name="storages">@manufacturer GB</label>
                    }
                </div>

                <div class="filter-criteria">
                    <span>OS</span>
                    @foreach (var manufacturer in Model.Oses)
                    {
                        <label><input type="checkbox" value="@manufacturer.Id" name="osesIds">@manufacturer.Name</label>
                    }

                </div>

                <button id="clear_filters" class="btn btn-primary">Clear filters</button>
            </form>
        </div>
        <!-- Product in catalog -->
        <ul class="products-list"></ul>

    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Warning</h4>
            </div>
            <div class="modal-body text-center">
                You need to login to buy this item.
            </div>
        </div>
    </div>
</div>

<script id="product-template" type="text/x-handlebars-template">
    <!-- Product view -->
    <div class="single-product page" id="{{id}}">
        <div class="overlay"></div>
        <div class="preview-large">
            <h3>{{name}}</h3>
            <img src="/images/{{imageLarge}}" />
            <div>
                <h4>
                    <span data-toggle="tooltip" data-placement="bottom" title="Camera" class="label label-primary">{{camera}} MPx</span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Storage" class="label label-primary">{{storage}} GB</span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Operating system " class="label label-primary">
                        <i class="mdi mdi-{{osIcon}}" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <p class="description">
                {{description}}
            </p>
            <span class="close">×</span>
        </div>
    </div>
</script>
<script id="products-template" type="text/x-handlebars-template">
    <li class="products-template" data-index="{{id}}">
        <a href="#product/{{id}}">
            <div class="product-photo"><img src="/images/{{imageSmall}}" height="130" alt="{{name}}" /></div>
            <h2>{{name}} </h2>
            <div class="highlight"></div>
        </a>
        <div class="product-description">
            <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Buy</button>
            <p class="product-price">{{price}} €</p>
        </div>
    </li>
</script>
