@model eShop.DataContracts.Dtos.FiltersDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="all-products page visible">
        <div class="filters">
            <form id="filters-form">
                <div class="filter-criteria">
                    <span>Manufacturer</span>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <label><input type="checkbox" name="manufacturersIds" value="@manufacturer.Id">@manufacturer.Name</label>
                    }
                </div>

                <div class="filter-criteria">
                    <span>Storage</span>
                    @foreach (var manufacturer in Model.Storages)
                    {
                        <label><input type="checkbox" value="@manufacturer" name="storages">@manufacturer GB</label>
                    }
                </div>

                <div class="filter-criteria">
                    <span>OS</span>
                    @foreach (var manufacturer in Model.Oses)
                    {
                        <label><input type="checkbox" value="@manufacturer.Id" name="osesIds">@manufacturer.Name</label>
                    }

                </div>

                <button id="clear_filters" class="btn btn-primary">Clear filters</button>
            </form>
        </div>

        <!-- Product in catalog -->
        <ul class="products-list">
        </ul>

    </div>
    <!-- Product view -->
    <div class="single-product page" id="1">
        <div class="overlay"></div>
        <div class="preview-large">
            <h3>Sony Xperia Z3</h3>
            <img src="/images/sony-xperia-z3-large.jpg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique ipsum in efficitur pharetra.
                Maecenas luctus ante in neque maximus, sed viverra sem posuere. Vestibulum lectus nisi, laoreet vel suscipit nec, feugiat at odio. Etiam eget tellus arcu.
            </p>
            <span class="close">×</span>
        </div>
    </div>
</div>
<script id="product-template" type="text/x-handlebars-template">
    <li id="products-template" data-index="{{id}}">
        <a href="#product/{{id}}">
            <div class="product-photo"><img src="/images/{{imageSmall}}" height="130" alt="{{name}}" /></div>
            <h2>{{name}}</h2>
            <div class="product-description">
                <button class="btn btn-primary">Buy</button>
                <p class="product-price">{{price}} €</p>
            </div>
            <div class="highlight"></div>
        </a>
    </li>
</script>